footer {
  background-color: #f6f9fc;
  padding: 50px 0;
  border-top: 1px solid rgb(204, 204, 204);
}
footer h1 {
  margin-bottom: 30px;
  color: #0f3460;
}
footer h1 span.mark {
  color: #fbd914;
}
footer p {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  color: #0f3460;
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
footer li:hover {
  opacity: 0.8;
}
@media screen and (max-width: 576px) {
  footer {
    padding: 30px 0;
  }
  footer h1 {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  footer p {
    font-size: 0.7rem;
  }
  footer h2 {
    font-size: 1rem;
  }
  footer li {
    font-size: 0.7rem;
  }
}
